# Requisitos do Python
numpy==1.23.5
requests==2.28.2

# Nota: tkinter deve ser instalado manualmente em sistemas baseados em Linux:
# Para Debian/Ubuntu: sudo apt-get install python3-tk
# Para Fedora: sudo dnf install python3-tkinter
# Para Arch: sudo pacman -S tk